<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css"
  type="text/css"
/>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>

<mat-toolbar class="font-title">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon class="menu-icon" *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon class="menu-icon" *ngIf="sidenav.opened">close</mat-icon>
  </button>
  PeeMap
  <!-- {{dataUser._delegate.email}} -->
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <!--  mode side means that with big screen it will always display on the side -->
    <img src="/assets/img/1-recortada.png" class="avatar" />
    <h1 class="name">PeeMap</h1>
    <p class="designation">add small description here</p>


    <mat-divider></mat-divider>
 <!-- buttons  -->
    
    <button mat-button class="menu-button" (click)="showInfoDialog()">
      <mat-icon>perm_device_information</mat-icon>
      <span>User Guide</span>
    </button>

    <button mat-button class="menu-button" (click)="shouwAboutUsDialog()">
      <mat-icon>info</mat-icon>
      <span>About Us</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" >
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

    <button mat-button class="menu-button" (click)="LogOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <div id="map" class="map-container"></div>
      <button
        type="button"
        class="btn btn-danger emergency-toilet"
        (click)="navigateToNearestToilet()"
        [style.opacity]="isButtonVisible ? '1' : '0'"
        [style.transition]="'opacity 0.8s'"
      >
        <i class="fa-solid fa-restroom fa-shake"></i>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <app-rating [toilet]="currentToilet"></app-rating>
  </div>
</div>

<div id="infoModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
  </div>
</div>
