img {
  width: 70px;
}
.overlay-button {
  position: absolute;
  z-index: 1;
  margin: 20px;
}


/* Estilos básicos para el botón */
.logout {
  transition: all 0.3s ease-in-out;  /* Animación suave para todas las propiedades */
  transform-origin: center;  /* Para que la transformación se haga desde el centro */
}

/* Efecto hover: cuando pasas el mouse por encima */
.logout:hover {
  background-color: #d32f2f;  /* Color de fondo rojo cuando pasas el mouse */
  color: white;  /* Texto blanco */
  transform: scale(1.07);  /* Hace que el botón crezca */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);  /* Añade una sombra para darle profundidad */
}

/* Efecto focus: cuando el botón está enfocado (por ejemplo, mediante tabulación) */
.logout:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5);  /* Añade un resplandor rojo alrededor del botón */
}

/* Efecto active: cuando el botón está siendo presionado */
.btn-outline-danger:active {
  transform: scale(0.95);  /* Hace que el botón se reduzca un 5% */
}


.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}
.popup-content {
  font-size: 60px;
  /* Any other styles you want to apply */
}
