<!-- <div class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
 -->
<!-- !segundo sprinner -->
<!-- <div class="loader">
  <span class="loader-text">loading</span>
  <span class="load"></span>
</div> -->

<!-- !tercer  sprinner -->

<!-- <div class="container">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div> -->

<script
  src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
  type="module"
></script>
<dotlottie-player
  src="https://lottie.host/cf7f7e31-801f-492d-bf08-1b16981794de/zAqNjF4wkP.json"
  background="transparent"
  speed="1"
  style="width: 300px; height: 300px"
  direction="1"
  mode="normal"
  loop
  controls
  autoplay
></dotlottie-player>
