<div class="container my-3">
  <h1 class="display-4 text-center">Add Toilet</h1>
</div>
<form [formGroup]="toiletForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="toilet-id">Toilet ID</label>
    <input
      type="text"
      id="toilet-id"
      class="form-control"
      formControlName="toiletId"
    />
    <span
      *ngIf="toiletForm.get('toiletId')?.hasError('maxLength')"
      class="text-danger"
    >
      Toilet ID cannot be longer than 10 characters.
    </span>

    <span
      *ngIf="
        toiletForm.get('toiletId')?.hasError('required') &&
        toiletForm.get('toiletId')?.touched
      "
      class="text-danger error-label"
    >
      Toilet ID is <strong>required</strong></span
    >

    <span
      *ngIf="
        toiletForm.get('toiletId')?.hasError('maxlength') &&
        toiletForm.get('toiletId')?.touched
      "
      class="text-danger error-label"
    >
      toiletID must have a max <strong>20 digits</strong></span
    >
  </div>
  <div class="form-group">
    <label for="address">Toilet address</label>
    <input
      type="text"
      id="address"
      class="form-control"
      formControlName="address"
    />
    <span
      *ngIf="
        toiletForm.get('address')?.hasError('required') &&
        toiletForm.get('address')?.touched
      "
      class="text-danger error-label"
    >
      Address is <strong>required</strong></span
    >
  </div>

  <span
    *ngIf="
      toiletForm.get('address')?.hasError('minlength') &&
      toiletForm.get('address')?.touched
    "
    class="text-danger error-label"
  >
    Address must have a least <strong>6 digits</strong></span
  >
  <div class="mt-3">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="toiletForm.invalid"
    >
      Submit
    </button>
    <a [routerLink]="['/dashboard']" class="btn btn-secondary">Back</a>
  </div>
</form>
