<div class="form-container">
  <div class="container py-3">
    <h1 class="display-4 text-center">Add a new toilet</h1>
  </div>
  <form [formGroup]="toiletForm" (ngSubmit)="onSubmit()">
    <div class="form-group mx-3">
      <label for="toilet-id">Point of Interest</label>
      <input
        type="text"
        id="toilet-id"
        class="form-control"
        formControlName="toiletId"
        placeholder="Example: close plaza universidad or close to El Corte Inglés "
      />

      <span
        *ngIf="
          toiletForm.get('toiletId')?.hasError('required') &&
          toiletForm.get('toiletId')?.touched
        "
        class="text-danger error-label"
      >
        Point of Interest is <strong>required</strong></span
      >

      <span
        *ngIf="
          toiletForm.get('toiletId')?.hasError('minlength') &&
          toiletForm.get('toiletId')?.touched
        "
        class="text-danger error-label"
      >
        Point of Interest must have a minimum of
        <strong>6 characters</strong></span
      >
    </div>

    <span
      *ngIf="
        toiletForm.get('address')?.hasError('minlength') &&
        toiletForm.get('address')?.touched
      "
      class="text-danger error-label"
    >
      Address must have a least <strong>6 digits</strong></span
    >
    <div class="p-2 mb-0">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="toiletForm.invalid"
      >
        Submit
      </button>
      <button type="button" class="btn btn-secondary ms-2" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
