<div
  class="wrapper d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div *ngIf="!loading" class="body p-4" style="max-width: 400px; width: 100%">
    <div class="text-center mb-4">
      <img
        class="logo img-fluid"
        src="/assets/img/1-recortada.png"
        alt="registration"
      />
      <h2>Don't have an Account yet? Sign Up!</h2>
    </div>
    <form (ngSubmit)="register()" [formGroup]="registerForm">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label>Email</label>
        <div *ngIf="registerForm.get('email')?.touched">
          <span
            *ngIf="registerForm.get('email')?.hasError('required')"
            class="text-danger error-label"
          >
            Email is <strong>required</strong>
          </span>
          <span
            *ngIf="registerForm.get('email')?.hasError('email')"
            class="text-danger error-label"
          >
            Email is <strong>invalid</strong>
          </span>
        </div>
      </div>
      <div class="form-floating mb-3 position-relative">
        <input
          [type]="changetype ? 'password' : 'text'"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
        <span
          class="eyeicon position-absolute  translate-middle-y"
          (click)="viewpass()"
        >
          <i [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
        </span>
        <label>Password</label>
        <div *ngIf="registerForm.get('password')?.touched">
          <span
            *ngIf="registerForm.get('password')?.hasError('required')"
            class="text-danger error-label"
          >
            Password is <strong>required</strong>
          </span>
          <span
            *ngIf="registerForm.get('password')?.hasError('minlength')"
            class="text-danger error-label"
          >
            Password must have at least <strong>6 digits</strong>
          </span>
        </div>
      </div>
      <div class="form-floating mb-3 position-relative">
        <input
          [type]="changetypeRepeatPass ? 'password' : 'text'"
          class="form-control"
          formControlName="repeatPassword"
          placeholder="Repeat Password"
        />
        <span
          class="eyeicon position-absolute  translate-middle-y"
          (click)="viewRepeatPass()"
        >
          <i
            [ngClass]="visibleRepeatPass ? 'fa fa-eye' : 'fa fa-eye-slash'"
          ></i>
        </span>
        <label>Repeat Password</label>
      </div>
      <div class="d-grid gap-2 mb-3">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="registerForm.invalid"
        >
          Accept
        </button>
      </div>
      <div class="text-center">
        <a routerLink="/login">&lt;&lt;Back</a>
      </div>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
