<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="/assets/img/navegador.png" alt="login" />
    <h1>Recover your Password</h1>
    <form [formGroup]="recoverForm" (ngSubmit)="recover()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label>Email</label>
        <span
          *ngIf="
            recoverForm.get('email')?.hasError('required') &&
            recoverForm.get('email')?.touched
          "
          class="text-danger error-label"
        >
          Email is <strong>required</strong></span
        ><span
          *ngIf="
            recoverForm.get('email')?.hasError('email') &&
            recoverForm.get('email')?.touched
          "
          class="text-danger error-label"
        >
          Email is <strong>invalid</strong></span
        >
      </div>

      <div class="d-grid gap-2 mb-3">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="recoverForm.invalid"
        >
          Recover your Password
        </button>
      </div>

      <a routerLink="/login">&lt;&lt;Back</a>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
