<div class="wrapper d-flex justify-content-center align-items-center">
  <div *ngIf="!loading" class="body p-4" style="max-width: 400px; width: 100%">
    <div class="text-center mb-4">
      <img
        class="logo img-fluid"
        src="/assets/img/1-recortada.png"
        alt="recover-password"
      />
      <h2>Recover your Password</h2>
    </div>
    <form [formGroup]="recoverForm" (ngSubmit)="recover()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label>Email</label>
        <div *ngIf="recoverForm.get('email')?.touched">
          <span
            *ngIf="recoverForm.get('email')?.hasError('required')"
            class="text-danger error-label"
          >
            Email is <strong>required</strong>
          </span>
          <span
            *ngIf="recoverForm.get('email')?.hasError('email')"
            class="text-danger error-label"
          >
            Email is <strong>invalid</strong>
          </span>
        </div>
      </div>
      <div class="d-grid gap-2 mb-3">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="recoverForm.invalid"
        >
          Recover your Password
        </button>
      </div>
      <div class="text-center">
        <a routerLink="/login">&lt;&lt;Back</a>
      </div>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
