<div
  class="wrapper d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div *ngIf="!loading" class="body p-4" style="max-width: 400px; width: 100%">
    <div class="text-center mb-4">
      <img
        class="logo img-fluid"
        src="/assets/img/1-recortada.png"
        alt="login"
      />
      <h1 class="tracking-in-expand-forward-top">Welcome to PeeMap</h1>
      <h3>
        "Find relief on the go! Discover, add, and rate toilets near you with
        PeeMap!"
      </h3>
      <h2>Login</h2>
    </div>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label>Email</label>
        <div *ngIf="loginForm.get('email')?.touched">
          <span
            *ngIf="loginForm.get('email')?.hasError('required')"
            class="text-danger error-label"
          >
            Email is <strong>required</strong>
          </span>
          <span
            *ngIf="loginForm.get('email')?.hasError('email')"
            class="text-danger error-label"
          >
            Email is <strong>invalid</strong>
          </span>
        </div>
      </div>
      <div class="form-floating mb-3 position-relative">
        <input
          [type]="changetype ? 'password' : 'text'"
          class="form-control"
          placeholder="Password"
          formControlName="password"
        />
        <span
          class="eyeicon position-absolute   translate-middle-y"
          (click)="viewpass()"
        >
          <i [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
        </span>
        <label>Password</label>
        <span
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            loginForm.get('password')?.touched
          "
          class="text-danger error-label"
        >
          Password is <strong>required</strong>
        </span>
      </div>
      <div class="d-grid gap-2">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </div>
      <div class="mt-3 text-center">
        <p>
          no account yet?<a class="ms-2" routerLink="/user-registration"
            >Register</a
          >
        </p>
        <a routerLink="/recover-password">Forgot your password?</a>
      </div>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
