.wrapper {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f2fcfe,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f2fcfe,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {font-family: 'Black Ops One', cursive;}

/* h3 {font-family: 'Black Ops One', cursive;} */


.eyeicon {

  top: 28px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}
