/* You can add global styles to this file, and also import other style files */

@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.logo {
  position: relative;
  height: 400px;
  margin-bottom: 10px;
}

.body {
  width: 100%;
  max-width: 330px;
  margin: auto;
  /*  padding: 15px; */
  text-align: center;
}

.form-floating {
  text-align: start;
}
.error-label {
  margin-left: 5px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* popup */

.mapboxgl-popup-content {
  border-top: 10px solid #5ac4de;
  height: 150px;
  width: 200px;
  border-radius: 10px;
  animation: swashIn 0.5s ease-out forwards;

}
/* swashIn effect of popup  */

@keyframes swashIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.color-title {
  color: black !important;
}

@media (max-width: 500px) {
  .mapbox-ctrl-top-left {
    display: none;
  }

  .mapbox-directions-instructions {
    display: none;
  }

  .mapbox-directions-component-keyline {
    display: none;
  }
}
