<div class="info-container">
  <h1>Welcome to PeeMap</h1>
  <hr />

  <h2>Introduction</h2>
  <p>
    This guide will walk you through the features of our app, ensuring you can
    easily find and rate toilets, or even add new ones.
  </p>
  <hr />

  <h2>1. Adding a New Toilet</h2>

  <h3>1.1 For Computer Users:</h3>
  <ol>
    <li>Double-click anywhere on the screen.</li>
    <li>
      A dialog will pop up prompting you to specify the location of the new
      toilet.
    </li>
    <li>
      Enter details about where the toilet is located, e.g., "Inside Joe's
      Restaurant" or "At Central Train Station".
    </li>
    <li>Click the "Submit" button to add the toilet to the map.</li>
  </ol>

  <h3>1.2 For Mobile Phone Users:</h3>
  <ol>
    <li>Hold your finger on the screen for a few seconds.</li>
    <li>
      A dialog will appear asking you to provide details about the toilet's
      location.
    </li>
    <li>Input the location details.</li>
    <li>Tap "Submit" to add the toilet to the map.</li>
  </ol>
  <hr />

  <h2>2. Finding the Nearest Toilet</h2>
  <ol>
    <li>Look for the red button on the screen.</li>
    <li>Press the red button.</li>
    <li>The app will provide directions to the nearest toilet.</li>
  </ol>
  <hr />

  <h2>3. Rating a Toilet's Cleanliness</h2>
  <ol>
    <li>Find the toilet you want to rate on the map.</li>
    <li>Click on the toilet's icon.</li>
    <li>
      A popup will appear, allowing you to rate the cleanliness of the toilet.
    </li>
    <li>Submit your rating.</li>
  </ol>
  <hr />

  <h2>Conclusion</h2>
  <p>
    Thank you for using the PeeMap Application! We hope this guide helps
    you navigate the app with ease. Your contributions in adding and rating
    toilets help make this community-driven tool more valuable for everyone.
    Safe travels and happy toilet finding!
  </p>
</div>
