.fa-regular {
  font-size: 3rem;
  cursor: pointer;
}
/*! modificar height  */
.star-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.press-down {
  transition: transform 0.1s ease !important;
  /* background-color: red; */
}

.press-down:active {
  transform: scale(0.95) !important;
}
