<div class="star-container">
  <div class="star-rating-container">
    <!-- button 1 -->
    <div class="press-down">
      <a (click)="postRating(toilet['toiletId'], 1)">
        <i class="fa-regular fa-face-angry" style="color: #da1010"></i>
      </a>
    </div>
    <!-- button 2 -->
    <div class="press-down ms-2">
      <a (click)="postRating(toilet['toiletId'], 2)">
        <i class="fa-regular fa-face-angry" style="color: #fab005"></i>
      </a>
    </div>
    <!-- button 3 -->
    <div class="press-down ms-2">
      <a (click)="postRating(toilet['toiletId'], 3)">
        <i class="fa-regular fa-face-meh" style="color: #dbe63d"></i>
      </a>
    </div>
    <!-- button 4 -->
    <div class="press-down ms-2">
      <a (click)="postRating(toilet['toiletId'], 4)">
        <i class="fa-regular fa-face-smile" style="color: #b9d33c"></i>
      </a>
    </div>
    <!-- button 5 -->
    <div class="press-down ms-2">
      <a (click)="postRating(toilet['toiletId'], 5)">
        <i class="fa-regular fa-face-grin-wide" style="color: #50b806"></i>
      </a>
    </div>
  </div>
  <p class="text-center mt-2">
    Average Rating:
    <ng-container *ngIf="toilet['averageRating'] >= 1 && toilet['averageRating'] < 2">
        <i class=" rating-face fa-regular fa-face-angry" style="color: #da1010"></i>
    </ng-container>
    <ng-container *ngIf="toilet['averageRating'] >= 2 && toilet['averageRating'] < 3">
        <i class=" rating-face fa-regular fa-face-angry" style="color: #fab005"></i>
    </ng-container>
    <ng-container *ngIf="toilet['averageRating'] >= 3 && toilet['averageRating'] < 4">
        <i class=" rating-face fa-regular fa-face-meh" style="color: #dbe63d"></i>
    </ng-container>
    <ng-container *ngIf="toilet['averageRating'] >= 4 && toilet['averageRating'] <= 5">
        <i class=" rating-face fa-regular fa-face-smile" style="color: #b9d33c"></i>
    </ng-container>
    <ng-container *ngIf="toilet['averageRating'] > 5">
        <i class=" rating-face fa-regular fa-face-grin-wide" style="color: #50b806"></i>
    </ng-container>
    {{ toilet["averageRating"] }}
</p>

</div>
